@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

/*page starts here*/

body {
  display: flex;
}

/*black bar*/

#black-part {
  background-color: black;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#black-part p {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 15px;
}

#icon {
  height: 30px;
  border-radius: 8px;
}

/*white bar*/

#white-part {
  width: 100%;
}

#white-part ul {
  text-align: right;
  margin-top: 5px;
}

#white-part ul li {
  display: inline;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

#white-part a {
  text-decoration: none;
  color: black;
}

#white-part a:hover {
  color: #a33fc4;
}

/*side bar*/

#browse, #nav-link-id {
  position: relative;
  top: 20px;
}

#navbar {
  min-width: 250px;
  width: 20%;
  height: 100%;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6eaf0;
  position: fixed;
}

#browse {
  font-family: 'calibri', sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 22px;
  padding: 15px 0px;
  margin: 0px;
}

#nav-link-id{
  list-style: none;
  position: relative;
  top: 25px;
  width: 210px;
}

#nav-link-id li {
  padding: 5px 0px 5px 0px;
}

.nav-link {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

#nav-link-id li:hover {
  background-color: #e4e6eb;
  border-radius: 2px;
  padding: 5px 2px;
}

/*main doc*/

#main-doc {
  width: 80%;
  margin-left: 200px;
  margin-top: 15px;
}


#alpha {
  background-color: white;
  width: fit-content;
  margin: 0px auto;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: 630px;
  justify-content: center;
}

header {
  font-family: calibri;
  font-weight: 500;
  font-size: 20px;
  margin: 40px 0px 20px 75px;
}

#first {
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}

.textp {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
  max-width: 70%;
  min-width: 300px;
  margin: 10px auto;
}

ul li {
  list-style: disk;
}

.contentli .finalli {
  list-style: none;
}

#finall1 {
  margin-bottom: 30px;
}

.contentli {
  margin-left: 130px;
  font-family: 'Muli';
}

#trasmission {
  font-family: calibri;
  margin: 10px 0px 0px 75px;
}

.morse {
  background-color: #e4e6eb;
  width: 400px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
  margin-top: 10px;
  border-radius: 2px;
  position: relative;
  left: 25px;
  z-index: -100;
}

#morselarge {
  height: 100px;
  max-width: 550px;
  min-width: 200px;
  position: relative;
  left: 25px;
  z-index: -10;
}

.morselarget  {
  margin: 10px auto;
  width: inherit;
}

.morse p {
  margin-top: 10px;
  font-family: 'consolas';
}

#alphabet {
  height: 600px;
}

figcaption {
  font-family: 'Muli';
  font-size: 10px;
  margin: 5px 0px 5px 10px;
}

/*footer here*/

footer {
  height: 45px;
  width: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  margin-left: 90px;
  font-family: 'jost';
  text-align: center;
}

.footera {
  text-decoration: none;
  color: #a33fc4;
}


@media (max-width: 750px) {
  body {
    display: flex;
    flex-direction: column;
  }
  #navbar {
    height: 250px;
    width: 100%;
    position: fixed;
    overflow: auto;
  }
  #browse {
    display: none;
  }
  #nav-link-id {
    margin-top: -10px;
  }
  #white-part {
    display: none;
  }
  #main-doc {
    margin-top: 250px;
    margin-left: 0px;
    width: 100%;
    height: 3040px;
    display: static;
  }
  header {
    margin: 0px 0xp 0px 00px;
  }
  .morse {
    width: 220px;
    margin: auto;
  }
  #alphabet {
    height: 400px;
  }
  #alpha {
    height: 410px;
    margin: auto;
  }
  #morselarge {
    min-height: 160px;
  }
  .morse {
    margin-top : 10px;
    text-align: center;
  }
  .contentli {
    min-width: 100px;
    max-width: 350px;
    margin: 0px auto;
  }
  .contentli li {
    list-style-type: disc;
  }
}

@media (max-width: 500px) {
  .contentli {
    margin: 0px 0px 0px 50px;
  }
}

@media (max-width: 400px) {
  .main-section header {
    text-align: center;
    margin: 10px auto;
  }
  #alphabet {
    height: 300px;
  }
  #alpha {
    height: 310px;
  }
  footer {
    height: 100px;
  }
  footer p {
    margin: auto;
  }
}

@media (min-width: 1100px) {
  #main-doc ul {
    position: relative;
    left: 50px;
  }
}

/*finished*/